@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Orienta&display=swap');

@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

::-webkit-resizer {
  background-color: var(--body-background);
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;

  &:hover {
    background: #555;
  }
}

::-webkit-scrollbar-track {
  background: var(--body-background)
}

body {
  margin: 0;
  padding: 0 23px 0 15px;
  font-family: 'Roboto Regular', sans-serif;

  color: var(--text-color);
  background-color: var(--body-background);
}

h2 {
  margin: 5px 0;
  text-align: center;

  color: var(--text-color);
}

label {
  margin: 0 0 5px 0;
  display: block;
}

input {
  transition: 0.2s;

  height: 30px;
  line-height: 15px;

  font-size: 15px;
  font-family: 'Orienta', sans-serif;
  color: var(--text-color);

  width: calc(100% - 10px);
  background-color: var(--body-background);

  padding: 0 10px;

  border: none;
  border-radius: 5px;
  box-shadow: inset 2px 2px 5px var(--shadow-dark),inset -5px -5px 7px var(--shadow-light);

  &:focus:not([readonly]) {
    box-shadow: inset 1px 1px 2px var(--shadow-dark), inset -1px -1px 2px var(--shadow-light);
  }

  &:focus-visible {
    outline: none;
  }

  &[aria-disabled="true"] {
    box-shadow: inset 1px 1px 2px var(--shadow-dark), inset -1px -1px 2px var(--shadow-light);
    color: var(--text-color-artist);

    cursor: default;
  }
}

button, #theme-toggler {
  user-select: none;
  cursor: pointer;

  border: none;
  border-radius: 5px;
  box-shadow: -2px -2px 3px var(--shadow-light), 2px 2px 3px var(--shadow-dark);

  font-size: 15px;
  font-family: 'Orienta', sans-serif;
  color: var(--text-color);

  background-color: var(--body-background);
  height: 30px;

  display: inline-block;

  &:hover {
    box-shadow: -1px -1px 2px var(--shadow-light), 1px 1px 2px var(--shadow-dark);
  }

  &:active {
    box-shadow: inset 1px 1px 2px var(--shadow-dark), inset -1px -1px 2px var(--shadow-light);
  }

  & > svg {
    font-size: 20px;

    padding: 0 10px;
  }

  &[aria-disabled="true"] {
    box-shadow: inset 1px 1px 2px var(--shadow-dark), inset -1px -1px 2px var(--shadow-light);
    color: var(--text-color-artist);

    cursor: default;
  }
}

p {
  margin: 0;
}

progress[value] {
  appearance: none;

  width: 100%;
  height: 30px;
}

progress::-webkit-progress-value {
  background: var(--shadow-dark);
}

progress::-webkit-progress-bar {
  background: var(--body-background);
}

#theme-toggler {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  right: 25px;
  top: 10px;

  border-radius: 20px;
  height: 40px;
}

#updateNotification {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 250px;
  padding: 20px;
  border-radius: 5px;

  color: var(--text-color);
  background-color: var(--notification-background);
  box-shadow: 1px 1px 1px var(--shadow-dark), -1px -1px 1px var(--shadow-light);

  .message {
    margin: 0 0 10px 0;
  }

  &.hidden {
    display: none;
  }

  .restart-button {
    margin: 0 0 0 10px;

    &.hidden {
      display: none;
    }
  }
}

.flex {
  display: flex;
}

.flex > * {
  margin: 0 2px;
}

.listBox {
  box-shadow: inset 2px 2px 5px var(--shadow-dark), inset -5px -5px 7px var(--shadow-light);
  border-radius: 5px;

  & > ul {
    padding: 0 2px 0 0;
    margin: 15px 0 7px 0;
    overflow: auto;

    width: 100%;
    height: 150px;

    resize: vertical;

    & li {
      border-radius: 5px;

      transition: 0.2s;
      padding: 5px 10px;

      display: block;

      font-size: 15px;
      font-family: 'Orienta', sans-serif;
      color: var(--text-color);

      cursor: pointer;

      &.active {
        background-color: #3f6d952b;
      }
    }
  }

  .delete-button {
    margin: 0 0 15px 0;
    float: right;
  }

  &[aria-disabled="true"] {
    box-shadow: inset 1px 1px 2px var(--shadow-dark), inset -1px -1px 2px var(--shadow-light);
    color: var(--text-color-artist);

    li {
      cursor: default;
    }
  }
}

.options {
  margin: 15px 0;
  display: flex;

  & > div {
    display: inline-block;
    margin: 0 10px;

    z-index: 1;
  }

  & > div:first-of-type {
    margin: 0 10px 0 0;
  }

  .quality, .codec {
    display: none;
  }
}

.notification {
  font-family: "Roboto Regular", sans-serif;

  color: var(--text-color);
  background-color: var(--notification-background);
  box-shadow: 1px 1px 1px var(--shadow-dark), -1px -1px 1px var(--shadow-light);

  left: 0;
  bottom: 10px;

  z-index: 3;

  padding: 10px 15px;
  position: fixed;

  opacity: 0;

  border-radius: 3px;
}

.select {
  user-select: none;

  outline: none;
  border: none;

  height: 30px;
  line-height: 15px;

  font-size: 15px;
  font-family: 'Orienta', sans-serif;
  color: var(--text-color);

  background-color: var(--body-background);
  border-radius: 5px;

  .head {
    transition: 0.2s;
    cursor: pointer;
    box-shadow: -2px -2px 3px var(--shadow-light), 2px 2px 3px var(--shadow-dark);

    border-radius: 5px;
    padding: 10px;

    & > * {
      display: inline-block;
    }

    svg {
      float: right;
      padding: 0 0 0 10px;
    }

    &:hover {
      box-shadow: -1px -1px 2px var(--shadow-light), 1px 1px 2px var(--shadow-dark);
    }
  }

  .body {
    height: 0;
    padding: 0 10px;
    overflow: hidden;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    .option {
      cursor: pointer;
      transition: 0.2s;
      padding: 5px;

      &[aria-disabled='true'] {
        color: var(--text-color-artist)
      }

      &:hover:not([aria-disabled='true']):not([aria-selected='true']) {
        background-color: var(--hover-background);
      }

      &[aria-selected='true'] {
        background-color: var(--active-background);
      }
    }
  }

  &.active {
    .head {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      box-shadow: inset 1px 1px 2px var(--shadow-dark), 0 0 0 var(--shadow-dark), inset -1px -1px 2px var(--shadow-light), inset -1px -1px 2px var(--shadow-light);
      /* Oben, Unten, Rechts, Links */
    }

    .body {
      box-shadow: 0 0 0 var(--shadow-dark), inset 1px 1px 2px var(--shadow-dark), inset -1px -1px 2px var(--shadow-light), inset -1px -1px 2px var(--shadow-light);

      max-height: 100px;
      overflow: auto;

      height: initial;

      padding: 10px;
    }
  }

  &[aria-disabled='true'] {
    .head {
      box-shadow: inset 1px 1px 2px var(--shadow-dark), inset -1px -1px 2px var(--shadow-light);
      color: var(--text-color-artist);

      cursor: default;
    }
  }
}

.progress-song {
  margin: 10px 0;
}

.progress-total {
  margin: 5px 0 0 0;
}

.progress-song, .progress-total {
  user-select: none;

  padding: 5px;
  border-radius: 5px;

  box-shadow: inset 2px 2px 5px var(--shadow-dark),inset -5px -5px 7px var(--shadow-light);


  .info {
    display: flex;
    line-height: 30px;
    position: absolute;

    & > * {
      margin: 0 5px;
    }
  }
}

.startAbort {
  position: absolute;

  width: 100%;
  left: 0;
  bottom: 0;

  padding: 0 0 15px 0;

  text-align: center;
}