@import url('https://fonts.googleapis.com/css2?family=Doppio+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orienta&display=swap');

body {
  margin: 0;
  padding: 0 23px 0 15px;
  font-family: 'Orienta', sans-serif;
}

h2 {
  margin: 5px 0;
  text-align: center;
  font-family: 'Doppio One', sans-serif;
}

label {
  margin: 0 0 5px 0;
  display: block;
}

input {
  transition: 0.2s;

  height: 30px;
  line-height: 15px;

  font-size: 15px;
  font-family: 'Orienta', sans-serif;

  width: calc(100% - 10px);
  background-color: white;

  padding: 0 10px;

  border: none;
  border-radius: 5px;
  box-shadow: inset 2px 2px 5px #d2d2d2,inset -5px -5px 7px #efefef;

  &:focus {
    box-shadow: inset 1px 1px 2px #d2d2d2, inset -1px -1px 2px #efefef;
  }

  &:focus-visible {
    outline: none;
  }
}

button {
  border: none;
  border-radius: 5px;
  box-shadow: -2px -2px 3px #efefef, 2px 2px 3px #d2d2d2;

  font-size: 15px;
  font-family: 'Orienta', sans-serif;

  background-color: white;
  height: 30px;

  &:hover {
    box-shadow: -1px -1px 2px #efefef, 1px 1px 2px #d2d2d2;
  }

  &:active {
    box-shadow: inset 1px 1px 2px #d2d2d2, inset -1px -1px 2px #efefef;
  }

  & > svg {
    font-size: 20px;

    padding: 0 10px;
  }
}

.flex {
  display: flex;
}

.flex > * {
  margin: 0 2px;
}

.listBox {
  box-shadow: inset 2px 2px 5px #d2d2d2,inset -5px -5px 7px #efefef;
  border-radius: 5px;

  & > ul {
    padding: 0 2px 0 0;
    margin: 15px 0 7px 0;
    overflow: auto;

    width: calc(100% + 10px);
    height: 150px;

    & li {
      transition: 0.2s;
      padding: 5px 10px;

      display: block;

      font-size: 15px;
      font-family: 'Orienta', sans-serif;

      cursor: pointer;

      &.active {
        background-color: #3f6d952b;
      }
    }

    &::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-track {
      background: white;
    }
  }

  .delete {
    float: right;
  }
}