@import url('https://fonts.googleapis.com/css2?family=Doppio+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orienta&display=swap');

body {
  margin: 0;
  padding: 0 23px 0 15px;
  font-family: 'Orienta', sans-serif;
}

h2 {
  margin: 5px 0;
  text-align: center;
  font-family: 'Doppio One', sans-serif;
}

label {
  margin: 0 0 5px 0;
  display: block;
}

input {
  transition: 0.2s;

  height: 30px;
  line-height: 15px;

  font-size: 15px;
  font-family: 'Orienta', sans-serif;

  width: calc(100% - 10px);

  padding: 0 10px;

  border: none;
  border-radius: 5px;
  box-shadow: inset 2px 2px 5px #b6b6b6, inset -5px -5px 7px #e2e2e2;

  &:focus {
    box-shadow: inset 1px 1px 2px #b6b6b6, inset -1px -1px 2px #e2e2e2;
  }

  &:focus-visible {
    outline: none;
  }
}

button {
  border: none;
  border-radius: 5px;
  box-shadow: -2px -2px 3px #e2e2e2, 2px 2px 3px #b6b6b6;

  font-size: 15px;
  font-family: 'Orienta', sans-serif;

  &:hover {
    box-shadow: -1px -1px 2px #e2e2e2, 1px 1px 2px #b6b6b6;
  }

  &:active {
    box-shadow: inset 1px 1px 2px #b6b6b6, inset -1px -1px 2px #e2e2e2;
  }

  & > svg {
    font-size: 20px;

    padding: 0 10px;
  }
}

.flex {
  display: flex;
}

.flex > * {
  margin: 0 2px;
}