<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>Fast Downloader</h2>
    <div class="theme-toggler"><i class="fas"></i></div>
    <div id="settings-open"><i class="fas fa-tools"></i></div>
    <div class="input">
        <label for="url">URL</label>
        <div class="flex">
            <input type="text" id="url"/>
            <button class="add-button">{{main.button.add}}</button>
            <button class="paste-button"><i class="fa-solid fa-paste"></i></button>
        </div>
    </div>
    <div class="listBox">
        <ul></ul>
        <button class="delete-button">{{main.button.remove}}</button>
    </div>
    <label id="link-count"><a>0</a> {{main.label.selected}}</label>
    <div class="progress-total">
        <div class="info">
            <label>{{main.label.progressTotal}}:</label>
            <p>0%</p>
        </div>
        <progress value="0"></progress>
    </div>
    <div class="progress-song">
        <div class="info">
            <label>{{main.label.progress}}:</label>
            <p>0%</p>
        </div>
        <progress value="0"></progress>
    </div>
    <div class="location">
        <div class="input">
            <label for="location">{{main.label.storageLocation}}</label>
            <div class="flex">
                <input type="text" id="location" readonly/>
                <button class="search-button">{{main.button.browse}}</button>
                <button class="location-button" aria-disabled="true"><i class="fas fa-folder-open"></i></button>
            </div>
        </div>
    </div>
    <div class="startAbort">
        <button class="start-button">{{main.button.download}}</button>
        <button class="abort-button" aria-disabled="true">{{main.button.abort}}</button>
    </div>
    <div id="contextMenu">
        <div class="copy">{{main.button.copy}}</div>
        <div class="mode nav-select">
            <p>{{settings.label.downloadMode}}</p>
            <div class="select">
                <div class="option" data-value="video">{{settings.option.videoAudio}}</div>
                <div class="option" data-value="audio">{{settings.option.audioOnly}}</div>
            </div>
        </div>
        <div class="quality audioSettings nav-select">
            <p>{{settings.label.quality}}</p>
            <div class="select">
                <div class="option" data-value="best">{{settings.option.best}}</div>
                <div class="option" data-value="medium">{{settings.option.medium}}</div>
                <div class="option" data-value="bad">{{settings.option.bad}}</div>
            </div>
        </div>
        <div class="codecVideo videoSettings nav-select">
            <p>{{settings.label.codec}}</p>
            <div class="select">
                <div class="option" data-value="vp9">Google VP9</div>
                <div class="option" data-value="av1">AV1 (Alliance for Open Media AV1)</div>
                <div class="option" data-value="h264">H.264 / AVC / MPEG-4 AVC</div>
                <div class="option" data-value="hevc">H.265 / HEVC (High Efficiency Video Coding)</div>
                <div class="option" data-value="vvc">H.266 / VVC (Versatile Video Coding)</div>
            </div>
        </div>
        <div class="codecAudio audioSettings nav-select">
            <p>{{settings.label.codec}}</p>
            <div class="select">
                <div class="option" data-value="aac">aac</div>
                <div class="option" data-value="flac">flac</div>
                <div class="option" data-value="mp3">mp3</div>
                <div class="option" data-value="m4a">m4a</div>
                <div class="option" data-value="opus">opus</div>
                <div class="option" data-value="vorbis">vorbis</div>
                <div class="option" data-value="wav">wav</div>
            </div>
        </div>
        <div class="location">{{main.label.storageLocation}}</div>
    </div>
    <div id="updateNotification" class="hidden">
        <p class="message"></p>
        <button class="close-button">{{main.button.close}}</button>
        <button class="restart-button hidden">{{main.button.restart}}</button>
    </div>
    <script src="assets/js/pages/main.js" rel="script" type="module"></script>
</body>
</html>