<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="nav">
        <button id="info-open" class="toggle"><i class="fas fa-info"></i></button>
        <h2>{{settings.title}}</h2>
        <button class="theme-toggler toggle"><i class="fas"></i></button>
        <button id="settings-close" class="toggle"><i class="fas fa-angle-down"></i></button>
    </div>

    <div class="row">
        <div class="column">
            <div class="save">
                <label for="save">{{settings.label.saveSettings}}</label>
                <div class="row">
                    <div class="checkbox" id="save">
                        <div class="toggle"></div>
                    </div>
                    <span></span>
                </div>
            </div>
            <div class="artistName">
                <label for="artistName">{{settings.label.artistName}}</label>
                <div class="row">
                    <div class="checkbox" id="artistName">
                        <div class="toggle"></div>
                    </div>
                    <span></span>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="closeToTray">
                <label for="closeToTray">{{settings.label.closeToTray}}</label>
                <div class="row">
                    <div class="checkbox" id="closeToTray">
                        <div class="toggle"></div>
                    </div>
                    <span></span>
                </div>
            </div>
            <div class="clearList">
                <label for="clearList">{{settings.label.clearList}}</label>
                <div class="row">
                    <div class="checkbox" id="clearList">
                        <div class="toggle"></div>
                    </div>
                    <span></span>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="autostart">
                <label for="autostart">{{settings.label.autostart}}</label>
                <div class="row">
                    <div class="checkbox" id="autostart">
                        <div class="toggle"></div>
                    </div>
                    <span></span>
                </div>
            </div>
        </div>
    </div>

    <div class="lang">
        <label for="lang">{{settings.label.language}}</label>
        <div class="select" id="lang">
            <div class="head">
                <div class="button">{{settings.button.nothingSelected}}</div>
                <i class="fas fa-angle-down"></i>
            </div>
            <div class="body">
                <div class="option" data-value="" aria-disabled="true" aria-selected="true">
                    {{settings.button.nothingSelected}}
                </div>
                <div class="option" data-value="de">Deutsch</div>
                <div class="option" data-value="en">English</div>
            </div>
        </div>
    </div>
    <div class="mode">
        <label for="mode">{{settings.label.downloadMode}}</label>
        <div class="select" id="mode">
            <div class="head">
                <div class="button">{{settings.button.nothingSelected}}</div>
                <i class="fas fa-angle-down"></i>
            </div>
            <div class="body">
                <div class="option" data-value="" aria-disabled="true" aria-selected="true">
                    {{settings.button.nothingSelected}}
                </div>
                <div class="option" data-value="video">{{settings.option.videoAudio}}</div>
                <div class="option" data-value="audio">{{settings.option.audioOnly}}</div>
            </div>
        </div>
    </div>
    <div class="codecVideo videoSettings">
        <label for="codecVideo">{{settings.label.codec}}</label>
        <div class="select" id="codecVideo">
            <div class="head">
                <div class="button">{{settings.button.nothingSelected}}</div>
                <i class="fas fa-angle-down"></i>
            </div>
            <div class="body">
                <div class="option" data-value="" aria-disabled="true" aria-selected="true">
                    {{settings.button.nothingSelected}}
                </div>
                <div class="option" data-value="vp9">Google VP9</div>
                <div class="option" data-value="av1">AV1 (Alliance for Open Media AV1)</div>
                <div class="option" data-value="h264">H.264 / AVC / MPEG-4 AVC</div>
                <div class="option" data-value="hevc">H.265 / HEVC (High Efficiency Video Coding)</div>
                <div class="option" data-value="vvc">H.266 / VVC (Versatile Video Coding)</div>
            </div>
        </div>
    </div>
    <div class="quality audioSettings">
        <label for="quality">{{settings.label.quality}}</label>
        <div class="select" id="quality">
            <div class="head">
                <div class="button">{{settings.button.nothingSelected}}</div>
                <i class="fas fa-angle-down"></i>
            </div>
            <div class="body">
                <div class="option" data-value="" aria-disabled="true" aria-selected="true">
                    {{settings.button.nothingSelected}}
                </div>
                <div class="option" data-value="best">{{settings.option.best}}</div>
                <div class="option" data-value="medium">{{settings.option.medium}}</div>
                <div class="option" data-value="bad">{{settings.option.bad}}</div>
            </div>
        </div>
    </div>
    <div class="codecAudio audioSettings">
        <label for="codecAudio">{{settings.label.codec}}</label>
        <div class="select" id="codecAudio">
            <div class="head">
                <div class="button">{{settings.button.nothingSelected}}</div>
                <i class="fas fa-angle-down"></i>
            </div>
            <div class="body">
                <div class="option" data-value="" aria-disabled="true" aria-selected="true">
                    {{settings.button.nothingSelected}}
                </div>
                <div class="option" data-value="aac">aac</div>
                <div class="option" data-value="flac">flac</div>
                <div class="option" data-value="mp3">mp3</div>
                <div class="option" data-value="m4a">m4a</div>
                <div class="option" data-value="opus">opus</div>
                <div class="option" data-value="vorbis">vorbis</div>
                <div class="option" data-value="wav">wav</div>
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <h3 style="margin-bottom: -20px">YouTube premium</h3>
    <div class="row">
        <div class="column">
            <div class="premium">
                <label for="premium">{{settings.label.enablePremium}}<br>
                    {{settings.label.needPremium}}</label>
                <div class="row">
                    <div class="checkbox" id="premium">
                        <div class="toggle"></div>
                    </div>
                    <span></span>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="browser">
                <label for="browser">{{settings.label.browser}}</label>
                <div class="select" id="browser">
                    <div class="head">
                        <div class="button">{{settings.button.nothingSelected}}</div>
                        <i class="fas fa-angle-down"></i>
                    </div>
                    <div class="body">
                        <div class="option" data-value="" aria-disabled="true" aria-selected="true">
                            {{settings.button.nothingSelected}}
                        </div>
                        <div class="option" data-value="chrome">Google Chrome</div>
                        <div class="option" data-value="firefox">Mozilla Firefox</div>
                        <div class="option" data-value="edge">Microsoft Edge</div>
                        <div class="option" data-value="opera">Opera</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/js/pages/settings.js" rel="script" type="module"></script>
</body>
</html>